.menuGeral {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.menuTitulo h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.menuLogin {
  width: 100%;
}

.menuLogin form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menuLogin input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.menuLogin button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menuLogin button:hover {
  background-color: #0056b3;
}

.menuLogin a {
  color: #007bff;
  text-decoration: none;

}
.google{
    text-align: center;
}

.menuLogin a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .menuGeral {
    padding: 15px;
  }

  .menuLogin input, .menuLogin button {
    font-size: 14px;
  }
}